<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        table {
            margin-top: 100px;
            border-spacing: 5px;
            border-collapse: separate;
        }
        td {
            width: 75px;
            height: 75px;
            text-align: center;
            font-size: 32px;
            background-color:#78bec5;
            border-radius: 5px;
        }
        td:not(.selected):hover {
            background-color: #3d4250;
            cursor: pointer;
        }
        ul li {
            text-align: left;
        }
        .hidden {
            display: none;
        }
        .selected {
            opacity: 0.5;
        }
        .container-rooms {
            border: 2px solid red;
        }
        .container-user-input,
        .container-active-rooms {
            min-width: 350px;
        }
        .container-active-rooms {
            width: 50%;
        }
    </style>
    <title>tic-tac-toe</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tic-Tac-Toe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="dropdown-item" href="#" id="navbarDropdown" role="button" data-toggle="modal" data-target="#rankingModal" aria-haspopup="true" aria-expanded="false">
                        Ranking
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a id="player-name" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        username
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Room: <span id="room-name"></span></a>
                        <a class="dropdown-item" href="#">Score: <span id="player-score"></span></a>
                        <a class="dropdown-item" href="#">Rank: <span id="player-rank"></span></a>
                        <a class="dropdown-item" href="#" id="navbarDropdown" role="button" data-toggle="modal" data-target="#howToPlayModal" aria-haspopup="true" aria-expanded="false">
                            How to play
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/logout" class="dropdown-item">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div id="container-create-new-game" class="">
        <div id="container-create-new-game" class="row d-flex justify-content-center">
            <div class="container-user-input card text-center m-5 shadow-sm mb-5 bg-white rounded">
                <div class="card-header">
                    Create a new Game
                </div>
                <div class="card-body">
                    <input type="text" aria-label="room" class="form-control m-1" name="roomNew" id="roomNew" placeholder="Room Name">
                    <button id="new" type="button" class="btn btn-primary m-1">New Game</button>
                </div>
            </div>
        </div>
    </div>


    <div id="container-game-board" class="row d-flex justify-content-center">
         <!-- GAME BOARD -->
    </div>

    <div id="activeRooms">
        <div class="d-flex justify-content-center">
            <div class="container-active-rooms card text-center m-5 shadow-sm mb-5 bg-white rounded">
                <div class="card-header">
                    Active Rooms
                </div>
                <div class="card-body">
                    <ul id="rooms"></ul>
                </div>
            </div>
        </div>
    </div>
          
    <div id="messageBox" class="hidden">
        <div class=" d-flex justify-content-center">
            <div class="container-active-rooms card text-center m-5 shadow-sm mb-5 bg-white rounded">
                <div id="messageText" class="card-header">
                    
                </div>
            </div>
        </div>
    </div>

    <div id="gameOverButtons" class="d-flex justify-content-center">
        <button id="initiate-rematch" type="button" class="hidden btn btn-info m-1">Initiate Rematch</button>
        <button id="accept-rematch" type="button" class="hidden btn btn-info m-1">Accept Rematch</button>
        <a id="leaveRoomButton" href="/" class="hidden btn btn-info m-1">Leave Room</a>
    </div>

    <!-- Small modal: How To Play-->
    <div class="modal" id="howToPlayModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4> <i class="fa fa-lock"></i>How To Play</h4>
                </div>
                <div class="modal-body">
                    <p><i class="fa fa-question-circle"></i> Player 1: Create a new game by entering the username and room id(random ones are generated if left blank). <br /></p>
                    <p><i class="fa fa-question-circle"></i> Player 2: Enter another username and the room id(or click on any of the available rooms). <br /></p>
                    <p><i class="fa fa-question-circle"></i> Click on "Join Game"(or on any of the room IDs). <br /></p>
                    
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-default btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Small modal: Ranking-->
    <div class="modal" id="rankingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4> <i class="fa fa-lock"></i>Ranking</h4>
                </div>
                <div class="modal-body">
                    <p><i class="fa fa-question-circle"></i> You will be redirected to the Ranking Page <br /></p>
                <div class="actionsBtns">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary" href="/ranking" target="_blank">
                            Take me there!
                        </a>
                        <button class="btn btn-default btn-secondary ml-1" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://165.22.72.239:8000/socket.io/socket.io.js"></script>
    <script src="../javascripts/client.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>